/* fonts */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}


*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  line-height: 1.35;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #FFFCF9;
  color: #555;
  margin-bottom: 0px;
}

/* nav */

nav {
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#FFFCF9;
  color: #ffffff;
  height: 90px;
  /* border-bottom: solid 1px #B3B3B3; */
  /* box-sizing: border-box; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

a, a:visited {
  color: #18A0FB;
  text-decoration: none;
}

nav ul {
  padding-left: 0;
  list-style: none;
  padding-right: 40px;
}
ul {
  padding-left: 0;
  list-style: none;
}
#menu-wrapper #menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
nav li {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

h3, li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: -8px;
}
#nav-links a {
  color: black;
  text-decoration: none;
}
#logo {
  padding-left: 40px;
  font-size: 200px;
  height: auto;
}
nav img {
  cursor: pointer;
}

#nav-links a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    bottom: -5px;
    background-color: #7B3B55;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
#menu-wrapper #menu li a {
  transition: 0.3s;
}
#nav-links a.middle {
  position: relative;
}
#nav-links a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: #18A0FB;
}
a:visited {
  text-decoration: none;
}
a {
  color: #18A0FB;
  text-decoration: none;
}

/* nav */
/* header */
header .header-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  width: 100%;
  padding: 4% 12%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #FFFCF9;
}

header .header-words .header-title {
  font-size: 64px;
  line-height: 150%;
  font-weight: 700;
  font-family:"Poppins", serif;
  color: #7B3B55;
}

header .header-words .header-description {
  font-size: 26px;
  padding: 3px 0px;
  width: 100%;
  line-height: 180%;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
  font-weight: 500;
  padding-right: 10%;
  animation: loading 1.2s 0.45s 1 both ease-in-out;
  font-family: "Poppins", serif;
}
header .header-selfie {
  width: 50%;
  height: 100%;
  padding-left: 10%;
  position: relative;
  animation: loading 1.2s 0.9s 1 both ease-in-out;
}
header .header-words {
  width: 50%;
  color: #333;
}

.paragraph {
  color: #333;
  text-align: left;
  flex-wrap: nowrap;
  justify-content: flex-end;
  max-width: 90%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding-top: 2px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  display: block;
  position: relative;
}

.sec1 {
  padding: 90px 12%;
  display: flex;
  flex-wrap: wrap;
  animation: loading 1.2s 1.2s 1 both ease-in-out;
}

.div-block-28 {
  border-left: 6px solid #546eb0;
  margin-top: 22px;
  margin-bottom: 52px;
  padding-top: 0px;
  padding-bottom: 4px;
  padding-left: 12px;
}
.div-block-29 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 5px;
  text-decoration: none;
  display: flex;
}
.text-block.large {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  padding-top: 1%;
  color:#202020;
}
.div-block-33, .div-block-34 {
  align-items: center;
  display: flex;
}
.text-block-9 {
  font-family: MATERIAL ICONS ROUND Regular, sans-serif;
  font-size: 20px;
}
.bold-text-17 {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.link-block-7 {
  color: #333;
  text-decoration: none;
  display: flex;
}
.link-block-9 {
  text-decoration: none;
  display: flex;
}

/* cards */
.fa-solid.fa-arrow-down {
  color:#7B3B55;
  font-size: 30px;
  padding: 7px;
}
.content {
  width: 100%;
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0px;
}
.sec1-header {
  padding-bottom: 32px;
  width: 100%;
}

*:not(.fa) {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
.project-col-12 {
  width: 100%;
}

.project-name {
  font-size: 30px;
  font-weight: bold;
}
.project-subtitle {
  font-size: 20px;
  color: #C481B4;
}
.project-subtitle2 {
  font-size: 20px;
  color: #6FA48A;
}
.paragraph-3 {
color: #333;
background-color: #d6dfff;
border-radius: 5px;
margin-right: 5px;
padding: 3px 5px;
font-family: Open Sans, sans-serif;
font-size: 14px;
text-decoration: none;
}

.project {
  margin: 5% 0%;
  justify-content: space-between;
}
#pickflick, #zumi {
  background: #E1D6FD;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  outline: #723EF4;
  border-width: 3px;
  border-color: #000000;
}

.logo-sm {
  max-width: 50px;
}

.project .project-card-lg {
  border-radius: 12px;
  width: 100%;
  padding: 6%;
  position: relative;
  transition: 0.2s ease;
  border: 0px #c9c9c9 solid;
}
.project .project-card-title {
  padding-top: 3%;
  font-family: "Poppins", serif;
  font-size: 35px;
  font-weight: 700;
  color: #000000;
}
.project .project-card-description {
  font-size: 20px;
  padding-top: 3%;
  color:#1c1c1c;
}
.project .project-card-lg .project-card-contents {
  width: 40%;
}

#picflick {
  background: #E1D6FD;
  background-image: url('/picflick_bg.png');
  background-size: contain; /* Adjust as needed */
  background-position: 110% 150%;
  background-repeat: no-repeat;
  border-width: 3px;
  border-color: #000000;
}
#thrive {
  background-image: url('thrive_bg.png');
  background-size: contain; /* Adjust as needed */
  background-position: 110% 150%;
  background-repeat: no-repeat;
  border-width: 3px;
  border-color: #000000;
}

.project-image {
  width: 100%;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  border-radius: 14px;
}

.project-image {
  transition: transform 0.3s ease; /* Smooth transition */
}

.project-image:hover {
  transform: scale(1.1); /* Scale the image to 120% */
}

.paragraph-4 {
  color: #333;
  object-fit: fill;
  width: 100%;
  font-family: Open Sans, sans-serif;
  font-size: 18px;
  line-height: 25px;
  display: block;
  font-family: Poppins;
}
.div-block-5 {
  flex-flow: row;
  align-items: flex-start;
  display: flex;
  overflow: visible;
}
.paragraph-3 {
  color: #FFFCF9;
  background-color: #C481B4;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600;
}
.paragraph-2 {
  color: #FFFCF9;
  background-color: #6FA48A;
  border-radius: 5px;
  margin-right: 5px;
  padding: 3px 5px;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600;
}
.heading-4 {
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Poppins, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: semi-bold;
  line-height: 44px;
  text-decoration: none;
}
.note {
  color: #787878;
}
p {
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.project .project-card-tags {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
}
#picflick .project-card-tag {
  background: #D55432;
}
#thrive .project-card-tag {
  background: #D55432;
}

#zumi .project-card-tag {
  background:#245855;
}

.project .project-card-tag {
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #6C7372;
  margin-right: 12px;
  margin-top: 12px;
}

.project .project-card-tag {
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-right: 12px;
  margin-top: 12px;
}
#pickflick .project-card-tag {
  background:#245855;
}

.project .project-card-lg {
  border-radius: 12px;
  width: 100%;
  padding: 6%;
  position: relative;
  transition: 0.2s ease;
  border: 0px #ececec solid;
}
element.style {
  background-image: url(/picflick_bg.png)
}
.project .project-card-lg {
  border-radius: 12px;
  width: 100%;
  padding: 6%;
  position: relative;
  transition: 0.2s ease;
  border: 0px #ececec solid;
}

h2.section-header {
  font-size: 33px;
}
hr.short {
  width: 190px;
  border: 1px solid #444;
  margin-left: 0px;
}
.link-block-8 {
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  align-items: center;
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
.text-block.large.color-link {
  color:#000000;
  font-weight: 600;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.text-block-8.color-arrow {
  color: #723EF4;
  font-size: 20px;
}
.sec1-header {
  padding-bottom: 32px;
  width: 100%;
}

/* footer */
footer {
  position: relative;
  width: 100%;
  color: #777;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
  font-size: 16px;
  margin-top: 70px;
}

.sec2 {
  padding: 20px 12%;
  display:block;
  animation: loading 1.2s 1.2s 1 both ease-in-out;
}

.connect {
  display: flex;
  flex-wrap: wrap;
}

.project-card-description {
  font-size: 20px;
  padding-top: 1%;
  color: #1c1c1c;
}

.project-card-description1 {
  font-size: 20px;
  padding-top: 1%;
  color:#7B3B55;
  font-weight: bold;
}

.some-text {
  display: block;
  padding-right: 450px;
}

.connect-icons {
  font-size: 40px;
  color:#7B3B55;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.fa-brands.fa-linkedin {
 padding: 10px;
 color:#7B3B55;
}
.fa-solid.fa-paper-plane{
  padding: 10px;
  color:#7B3B55;
}
.project-card-lg {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.project-card-lg:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .header-words {
    width: 100%;
    text-align: center;
  }
  
  .header-selfie {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  header .header-words {
      width: 100%;
      padding-left: 0%;
      text-align: center;
      line-height: 1.5em;
      position: relative;
  }
}

@media (max-width: 900px) {
  header .header-words .header-title {
      font-size: 33px;
      text-align: center;
  }
}

@media (max-width: 900px) {
  header .header-selfie {
      width: 100%;
      justify-content: center;
      align-items: center;
  }
  .short-gif {
    justify-content: center;
    max-width: 100%;
    align-items: center;
    padding: 0%;
  }
  header .header-selfie {
    padding-left: 0;
  }
  #logo {
    padding-left: 0px;
    height: 40px;
    width: 40px;
    height: auto;
    margin-right: 75px;
  }
  nav ul {
    padding-left: 0;
    list-style: none;
    padding-right: 0px;
}
  nav li {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
  }
  nav {
    justify-content: center;
    padding-bottom: 20px;
  }
  
  header .header-words .header-description {
    font-size: 15px;
    text-align: center;
    justify-content: center;
    padding-right: 0;
  }
  .text-block.large {
    font-size: 14.5px;
  }
  .div-block-28 {
    padding-left: 5px;
  }
  .text-block.large.color-link {
    font-size: 22px;
    text-align: center;
  }
  .section-header{
    justify-content: center;
  }
  .project.project-card-lg.project-card-contents {
    width: 100%;
  }
  .project .project-card-title {
    font-size: 18px;
  }
  .project .project-card-description {
    font-size: 13px;
  }
  
  .project .project-card-lg .project-card-contents {
    width: 100%;
    padding-bottom: 0px;
  }
  .project .project-card-tag {
    font-size: 13px;
  }
  .logo-sm {
    max-width: 30px;
  }
  #picflick {
      background-position: 110% 100%;
  }
  #works.sec1 {
    padding-bottom: 5px;
  }
  .some-text {
    padding-right: 10px
  }
  .connect-icons {
    font-size: 25px;
  }
  #connect.connect{
    justify-content: center;
  }
  .project-card-description1 {
    text-align: center;
  }
}